<div class="card">
  <div class="card-body">
    <%= @question %>
    <p><em>- You</em></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <%= @response %>
    <p><em>- Your fucking stupid coach</em></p>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
